body {
    background-color: aliceblue;
}

.videoStream {
    border: 1px solid;
    border-radius: 5px;
    border: silver;
    width: 100%;
    height: auto;
    max-height: 40%;
}

header {
    margin: 50px;
}

.connectBtn, .disconnectBtn {
    margin: 10px;
}

.fa {
    font-size: 20px;
}

.display-none {
    display: none;
}

a {
    text-decoration: none;
}

p {
    font-weight: 700;
}

#chat {
    max-height: 400px;
    overflow-y: scroll;
}

.emoji:hover {
    cursor: pointer;
}

.local-vid-wrapper, .remote-vid-wrapper {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}