<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:fragment="head">
        <title>Hello WebSocket</title>

        <script
                th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
                integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
                crossorigin="anonymous"></script>

        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>

        <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>

        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>


        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>


        <!--<link th:href="@{/css/main.css}" rel="stylesheet"/> -->
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.js}"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
        <script th:src="@{/js/app.js}"></script>
        <script th:src="@{/js/lib/adapter.js}"></script>
        <script th:src="@{/js/nextRTC.js}"></script>
        <script th:src="@{/js/video-chat.js}"></script>
    </head>
</html>