<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="header :: head">
    </head>
    <body>
        <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on
            Javascript being
            enabled. Please enable
            Javascript and reload this page!</h2></noscript>

        <div id="main-content" class="container">
            <div class="row">
                <header style="text-align: center" id="welcome">
                </header>
                <br/>
                <div class="col-md-5">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="connect">WebSocket connection:</label>
                            <button id="connect" class="btn btn-default" type="submit">Connect</button>
                            <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-7">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="name">What is your content?</label>
                            <input type="text" id="name" class="form-control" placeholder="Your content here..."/>
                            <label for="mood">How are you?</label>
                            <select id="mood" class="form-control">
                                <option value="BAD">Bad</option>
                                <option value="GOOD">Good</option>
                                <option value="SUPER">Super</option>
                                <option value="SAD">Sad</option>
                            </select>
                        </div>
                        <button id="send" class="btn btn-default" type="submit">Send</button>
                    </form>
                </div>
            </div>
            <a th:href="@{/websocket/other-page}" target="_blank" class="btn btn-link">Other page</a><span>click other page link to get a websocket message, which will send because you opened an other page</span>
            <br/>
            <a th:href="@{/websocket/video-chat}" class="btn btn-link">WebRTC video chat demo</a><span>click here to check the WebRTC video chat</span>

            <div class="row">
                <div class="col-md-12">
                    <table id="conversation" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Websocket messages</th>
                            </tr>
                        </thead>
                        <tbody id="greetings">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>