<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="header :: head">
    </head>
    <body>
        <header class="text-center header">
            <h1>WebRTC Video Chat Demo</h1>
            <hr/>
        </header>
        <div class="container text-center">
            <h3 id="message" class="text-info"></h3>
            <button id="localConnectBtn" class="btn btn-lg btn-info connectBtn">Connect</button>
            <div class="row col-xs-12">
                <div class="col-xs-5 col-xs-offset-1 local-vid-wrapper">
                    <div class="col-xs-12 text-center">
                        <h2 class="display-none title">Local Stream</h2>
                        <div class="text-right">
                            <i class="display-none fa fa-microphone" id="local-mic"></i>&nbsp;&nbsp;<i
                                class="display-none fa fa-video-camera" id="local-vid"></i>
                        </div>
                    </div>
                    <div class="localStream">
                        <video id="localStream" class="videoStream local-vid loc-vid-2 img img-rounded" autoplay="autoplay"></video>
                    </div>
                </div>
                <div class="col-xs-5 col-xs-offset-1 remote-vid-wrapper">
                    <div class="col-xs-12 text-center">
                        <h2 class="display-none title">Remote Stream</h2>
                        <div class="text-right">
                            <i id="remote-mic" class="display-none fa fa-volume-up"></i>&nbsp;&nbsp;<i id="remote-vid"
                                                                                            class="display-none fa fa-video-camera"></i>
                        </div>
                    </div>
                    <div class="remoteStream">
                        <video id="remoteStream" class="videoStream remote-vid rem-vid-2 img-rounded" autoplay="autoplay"></video>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>